[submodule "external/WRF"]
	path = external/WRF
	url = https://github.com/prajeeshag/WRF.git
[submodule "external/esmf"]
	path = external/esmf
	url = https://github.com/esmf-org/esmf.git
[submodule "external/MITgcm"]
	path = external/MITgcm
	url = https://github.com/MITgcm/MITgcm.git
