*.o
*.mod
*.a
.vscode
build/
*.log
*.exe
env
*.nc
*.bin
esmf_application
coupler/L3.C2.coupled_CA2018_shaheen/code
env.mach
libs
external/UPPV4.0.1/include/
external/UPPV4.0.1/src/lib/crtm2/src/include/
external/UPPV4.0.1/src/lib/crtm2/makefile
external/UPPV4.0.1/src/lib/g2/addfield.f
external/UPPV4.0.1/src/lib/g2/gf_unpack7.f
external/UPPV4.0.1/src/lib/sp/fftpack.f
external/UPPV4.0.1/src/lib/sp/lapack_gen.f
external/UPPV4.0.1/src/lib/sp/ncpus.f
external/UPPV4.0.1/src/lib/sp/splat.f
external/UPPV4.0.1/src/lib/wrf_io/field_routines.f
external/UPPV4.0.1/src/lib/wrf_io/wrf_io.f
external/UPPV4.0.1/src/unipost/GFSPOST.f
external/UPPV4.0.1/src/unipost/GRIBIT.f
external/UPPV4.0.1/src/unipost/INITPOST.f
external/UPPV4.0.1/src/unipost/MICROINIT.f
external/UPPV4.0.1/src/unipost/kinds_mod.f
external/UPPV4.0.1/src/unipost/params.f
