[submodule "external/--force"]
	path = external/--force
	url = https://github.com/wrf-model/WRF.git
[submodule "external/WRF"]
	path = external/WRF
	url = https://github.com/wrf-model/WRF.git
[submodule "external/esmf"]
	path = external/esmf
	url = https://github.com/esmf-org/esmf.git
