[submodule "external/WRF"]
	path = external/WRF
	url = https://github.com/prajeeshag/WRF.git
[submodule "external/MITgcm"]
	path = external/MITgcm
	url = https://github.com/MITgcm/MITgcm.git
[submodule "external/esmf"]
	path = external/esmf
	url = https://github.com/esmf-org/esmf.git
[submodule "tools/skrips_utils"]
	path = tools/skrips_utils
	url = https://github.com/prajeeshag/skrips_utils.git
[submodule "tools/koi"]
	path = tools/koi
	url = https://github.com/wcarhart/koi.git
[submodule "external/WPS"]
	path = external/WPS
	url = https://github.com/wrf-model/WPS.git
